.NavigationItem {
  margin: 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  align-items: center;
}

.NavigationItem a {
  color: #8f5c2c;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a:active {
  color: #8f5c2c;
}

/* links which are active and have active class */

@media (min-width: 500px) {
  .NavigationItem {
    display: flex;
    height: 100%;
    align-items: center;
    margin: 0;
  }

  .NavigationItem a {
    color: white;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
  }

  .NavigationItem a:hover,
  .NavigationItem a:active,
  .NavigationItem a.active {
    background-color: #4084c8;
    border-bottom: 4px solid #8f5c2c;
  }
}
